<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>绑定电话号码</title>
    <link rel="stylesheet" href="@{/plugin/theme/default/layer.css}">
    <link rel="stylesheet" href="../../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
</head>
<body>

<div layout:fragment="content">
    <div id="breadcrumbs" class="col s12">
        当前位置：
        <a href="#" th:href="@{~/}">主页</a> >
        <a href="#" th:href="@{/myAccount}">我的账号</a> >
        <a href="#" th:href="@{/myAccount/bindTel}">绑定手机号码</a>

    </div>

    <div class="card-panel">
        <blockquote>绑定电话号码</blockquote>

        <div class="row" id="bind">
            <div class="col s6 offset-s3 input-field">
                <input type="tel" id="tel" placeholder="请输入手机号码">
                <label for="tel">手机号码</label>
            </div>

            <div class="col s3 offset-s3 input-field">
                <input type="text" id="verification_code" placeholder="请输入短信验证码">
                <label for="verification_code">验证码</label>
            </div>

            <div class="col s3 input-field">
                <button class="btn" id="getVerficationCode">点击获取手机验证码</button>
            </div>

            <div class="col s6 offset-s3 input-field">
                <button class="btn right" id="verifyCode">提交</button>
            </div>
        </div>

        <div class="row" id="binded">
            <div class="col s6 offset-s3">
                <h5 class="center-align" th:inline="text">已经绑定手机号码:[[${bindTelResult}]]</h5>

                <p class="right-align"><a class="rebind" href="javascript:void(0)">重新绑定</a></p>
            </div>
        </div>
    </div>
</div>


<!--本页面js-->
<th:block layout:fragment="script">
    <script th:src="@{/js/jquery.cookie.js}" src="../../static/js/jquery.cookie.js"></script>

    <script th:src="@{/plugins/layer/layer.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            /*检测是否已经绑定手机号码*/

            var bindTelResult=/*[[${bindTelResult}]]*/ '';


            if (bindTelResult==null){ //没有绑定
                $('#bind').show()
                $('#binded').hide()
            }else { //已经绑定
                $('#bind').hide()
                $('#binded').show()
            }

            $('.rebind').click(function () {
                $('#bind').show()
                $('#binded').hide()
            })

            /**
             * 获取验证码
             */
            $('#getVerficationCode').click(function () {
                var tel = $('#tel').val();
                debugger

                $.ajax({
                    contentType: 'application/json',
                    url: /*[[@{/myAccount//bindTel/verificationCode}]]*/ '',
                    type: 'POST',
                    data: JSON.stringify({
                        "tel": tel
                    }),
                    beforeSend: function (request) {
                        request.setRequestHeader('X-XSRF-TOKEN', $.cookie('XSRF-TOKEN'));
                    },
                    success: function (data) {
                        console.info(data)
                        layer.msg('已发送')
                    },

                    error: function (data) {
                        layer.msg('发送失败')

                    }

                })
            })

            /**
             * 验证验证码
             */

            $('#verifyCode').click(function () {
                var tel = $('#tel').val()
                var code = $('#verification_code').val()

                $.ajax({
                    contentType:'application/json',
                    url:/*[[@{/myAccount//bindTel/verifyCode}]]*/ '',
                    type: 'POST',
                    data: JSON.stringify({
                        "tel": tel,
                        "code":code
                    }),
                    beforeSend: function (request) {
                        request.setRequestHeader('X-XSRF-TOKEN', $.cookie('XSRF-TOKEN'));
                    },
                    success: function (data) {
                        console.info(data)
                        if (data.success){
                            layer.msg('绑定成功')
                        }else {
                            layer.msg('绑定失败'+data.error)
                        }
                    },

                    error: function (data) {
                        layer.msg('绑定失败')
                    }
                })
            })

        })
    </script>

</th:block>
</body>
</html>
