<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="manageLayout">
<head>
    <meta charset="UTF-8">
    <title>修改OAuth2客户端</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/plugins/bootstrap-select-1.12.4/css/bootstrap-select.min.css"
          th:href="@{~/plugins/bootstrap-select-1.12.4/css/bootstrap-select.min.css}">
    <style>
        #breadcrumbs {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        select {
            height: 120px;
        }

        option:checked {
            background-color: green;
        }

    </style>
</head>
<body>

<div layout:fragment="content">

    <ol class="breadcrumb">
        <li><a href="#" th:href="@{~/}">首页</a></li>
        <li><a href="#" th:href="@{/clientManagement}">OAuth2客户端管理</a></li>
        <li class="active"><a href="#" th:href="@{__${#httpServletRequest.requestURI}__}">修改客户端</a></li>
    </ol>

    <form class="col-md-4 col-md-offset-4" method="post" th:action="@{/clientManagement/editProcess}"
          th:object="${clientDetails}">

        <div class="col s6 offset-s3">


            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="appid">appId/应用ID</label>
                <input id="appid" type="text" readonly="readonly" th:field="*{appId}" class="form-control">
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('appId')}">
                <p class="text-danger" th:errors="*{appId}"></p>
            </div>
            <div class="col s12" th:if="${result!=null}">
                <p class="text-danger" th:text="${result}"></p>
            </div>

            <!--密码-->

            <div class="form-group">
                <label for="appSecret">appSecret/应用密码</label>
                <input id="appSecret" type="text" th:field="*{appSecret}" class="form-control">
            </div>

            <div class="col s12" th:if="${#fields.hasErrors('appSecret')}">
                <p class="text-danger" th:errors="*{appSecret}"></p>
            </div>


            <div class="form-group">
                <label for="grantTypes" class="active">grantTypes/授权类型</label>
                <select class="form-control selectpicker" multiple size="5" id="grantTypes" th:field="*{grantTypes}">
                    <option value="" disabled>请选择授权类型</option>
                    <option value="authorization_code">authorization_code</option>
                    <option value="refresh_token">refresh_token</option>
                    <option value="implicit">implicit</option>
                    <option value="password">password</option>
                    <option value="client_credentials">client_credentials</option>
                </select>
            </div>

            <div class="col s12" th:if="${#fields.hasErrors('grantTypes')}">
                <p class="text-danger" th:errors="*{grantTypes}"></p>
            </div>


            <div class="form-group">
                <label for="grantTypes" class="active">scopes/作用域</label>
                <select class="form-control selectpicker" multiple size='1' id="scopes" th:field="*{scope}">
                    <option value="read" selected>read</option>
                    <option value="write">write</option>
                </select>
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('scope')}">
                <p class="text-danger" th:errors="*{scope}"></p>
            </div>


            <div class="form-group">
                <label for="grantTypes" class="active">auto_approve_scopes/自动授权作用域</label>
                <select class="form-control selectpicker" multiple id="auto_approve_scopes"
                        th:field="*{autoApproveScopes}">
                    <option value="" disabled>请选择自动授权域</option>

                    <option value="read">read</option>
                    <option value="write">write</option>
                </select>
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('autoApproveScopes')}">
                <p class="text-danger" th:errors="*{autoApproveScopes}"></p>
            </div>


            <!--重定向-->
            <div class="form-group">
                <label for="redirectUrl">重定向地址</label>
                <input id="redirectUrl" class="form-control" type="url" th:field="*{redirectUrl}">
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('redirectUrl')}">
                <p class="text-danger" th:errors="*{redirectUrl}"></p>
            </div>


            <div class="form-group">
                <label for="access_token_validity">access_token_validity/access token有效时间（秒）</label>
                <input id="access_token_validity" class="form-control" type="number" th:field="*{accessTokenValidity}">
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('accessTokenValidity')}">
                <p class="text-danger" th:errors="*{accessTokenValidity}"></p>
            </div>


            <div class="form-group">
                <label for="refresh_token_validity">refresh_token_validity/refresh token有效时间（秒）</label>
                <input id="refresh_token_validity" class="form-control" type="number"
                       th:field="*{refreshTokenValidity}">
            </div>
            <div class="col s12" th:if="${#fields.hasErrors('refreshTokenValidity')}">
                <p class="text-danger" th:errors="*{refreshTokenValidity}"></p>
            </div>
            <button type="submit" class="btn btn-primary">保存</button>

        </div>
    </form>
</div>


<!--本页面js-->
<th:block layout:fragment="script">
    <script th:src="@{~/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js}"
            src="../../static/plugins/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>

    <script th:src="@{~/plugins/bootstrap-select-1.12.4/js/i18n/defaults-zh_CN.min.js}"
            src="../../static/plugins/bootstrap-select-1.12.4/js/i18n/defaults-zh_CN.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {

            var autoApproveScopes = /*[[${clientDetails.autoApproveScopes}]]*/ ''

            if (autoApproveScopes!=null){
                $('#auto_approve_scopes').selectpicker('val', autoApproveScopes.split(","));
            }

            var scope=/*[[${clientDetails.scope}]]*/ ''

            if (scope!=null){
                $('#scopes').selectpicker('val',scope.split(","))
            }

            var grantTypes=/*[[${clientDetails.grantTypes}]]*/ ''

            if (grantTypes!=null){
                $('#grantTypes').selectpicker('val',grantTypes.split(","))

            }


        })


    </script>
</th:block>
</body>
</html>
