<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="manageLayout">
<head>
    <title>OAuth2 客户端管理</title>
    <link rel="stylesheet" th:href="@{/plugins/layer/theme/default/layer.css}"
          href="../../static/plugins/layer/theme/default/layer.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/fc-3.2.3/fh-3.1.3/r-2.2.0/sl-1.2.3/datatables.min.css"/>

    <style>


        table th {
            white-space: nowrap;
            text-align: center;

        }

        table td {
            white-space: nowrap;
        }

        table {
            empty-cells: show;
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

        .operate {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>


<div layout:fragment="content">


    <ol class="breadcrumb">
        <li><a href="#" th:href="@{~/}">首页</a></li>
        <li class="active"><a href="#" th:href="@{/clientManagement}">OAuth2客户端管理</a>
        </li>
    </ol>

    <div class="row operate">
        <div class="col-sm-3">
            <a class="btn btn-primary" th:href="@{/clientManagement/add}">添加</a>
        </div>
    </div>


    <table id="table_id" class="table table-bordered">
        <thead>
        <tr>
            <th>客户端名称</th>
            <th>密码</th>
            <th>授权类型</th>
            <th>请求域</th>
            <th>自动授权请求域</th>
            <th>跳转地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


</div>


<!--本页面js-->
<th:block layout:fragment="script">

    <!--引入datatables的js-->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/fc-3.2.3/fh-3.1.3/r-2.2.0/sl-1.2.3/datatables.min.js"></script>
    <script th:src="@{/js/jquery.cookie.js}" src="../../static/js/jquery.cookie.js"></script>
    <!--引入layerjs-->
    <script th:src="@{/plugins/layer/layer.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            var table = $('#table_id').DataTable({
                destroy: true,
                "scrollX": true,
                scrollCollapse: true,
                fixedColumns: true,
                "lengthMenu": [[10, 15, 20, 25], [10, 15, 20, 25]],
                searching: true,
                processing: false,
                "serverSide": true,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                },
                'ajax': {
                    'contentType': 'application/json',
                    'url': /*[[@{/clientManagement/clientDetails}]]*/ '',
                    'type': 'POST',
                    'beforeSend': function (request) {
                        request.setRequestHeader('X-XSRF-TOKEN', $.cookie('XSRF-TOKEN'));
                    },
                    'data': function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button id='edit' class='btn btn-primary' style='margin-right: 10px'>编辑</button><button  id='delete' class='btn btn-danger'>删除</button>"
                }],
                "columns": [
                    {"data": "appId"},
                    {"data": "appSecret"},
                    {"data": "grantTypes"},
                    {"data": 'scope'},
                    {"data": "autoApproveScopes"},
                    {"data": "redirectUrl"},
                    {
                        "data": "appId",
                        "render": function (data, type, full, meta) {
                            return "<button id='edit' class='btn btn-primary' style='margin-right: 10px'>编辑</button><button  id='delete' class='btn btn-danger'>删除</button>"
                        }, "orderable": false
                    }

                ],
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空,请添加数据",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            })

//            删除操作
            var tempid
            $('#table_id tbody').on('click', '#delete', function () {
                var data = table.row($(this).parents('tr')).data();
                // $('#myModal1').modal('show')
                layer.confirm('确定要删除该条信息', {
                    btn: ['确定', '取消'] //按钮
                }, function (index) {
                    tempid = data.id;
                    layer.close(index);
                    $.ajax({
                        contentType: 'application/json',
                        url: /*[[@{/clientManagement/delete}]]*/ '',
                        type: 'POST',
                        data: JSON.stringify({
                            "id": tempid
                        }),
                        beforeSend: function (request) {
                            request.setRequestHeader('X-XSRF-TOKEN', $.cookie('XSRF-TOKEN'));
                        },
                        success: function (data) {
                            table.ajax.reload()
                        },
                        error: function (data) {
                            layer.msg('删除失败')

                        }

                    })
                }, function () {

                });

            });

//           修改操作
            $('#table_id tbody').on('click', '#edit', function () {
                var data = table.row($(this).parents('tr')).data();
                //  edit(data.id)
                // $('#myModal1').modal('show')
                var url = /*[[@{/clientManagement/edit/}]]*/ '';

                window.location.href = url + data.id
            });
        });
    </script>
</th:block>

</body>
</html>
