<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
</head>
<body>

<div layout:fragment="content">
    <div class="card-panel">
        <blockquote>找回密码</blockquote>
        <div class="row">
            <form th:action="@{/forgetPassword/processSendEmail}" method="post" th:object="${forgetPasswordVM}">
                <div class="col s6 offset-s3 input-field ">
                    <input type="email" id="agentIdentity" placeholder="请输入注册时使用的邮箱" th:field="*{email}">
                    <label for="agentIdentity">请输入注册时使用的邮箱</label>
                </div>
                <div class="col s6 offset-s3">
                    <p th:text="${result}"></p>
                </div>


                <div class="col s6 offset-s3 input-field ">
                    <button type="submit" class="btn right-align">重置密码</button>
                </div>
            </form>


        </div>
    </div>
</div>

</body>
</html>
