<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">


<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
</head>
<body>


<div  class="container" layout:fragment="content">
    <div th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </div>
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
    发发发发发发付付付付付付付付付付付付付付
</div>




</body>
</html>
