<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 SSO Demo</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>-->

    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">

    <style>
        .card{
            margin-top: 80px;
        }
        h3{
            margin: 50px;
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        .breadcrumb {
            color: #ee6e73;
        }

        /*.breadcrumb:before {*/
        /*color: #ee6e73;*/
        /*}*/
        #breadcrumbs {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!" th:href="@{/myAccount}">我的账户</a></li>
        <li class="divider"></li>
        <li><a href="#!" th:href="@{/myAccount/realName}">实名认证</a></li>
        <li class="divider"></li>
        <li><a href="#!" th:href="@{/logout}" sec:authorize="isAuthenticated()">退出</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!" th:href="@{/userManagement}">用户管理</a></li>
        <li class="divider" ></li>
        <li><a href="#!" th:href="@{/clientManagement}">OAuth 2 客户端管理</a></li>
        <li class="divider" ></li>
        <!--<li><a href="#!" th:href="@{/realNameManagement}">实名认证管理</a></li>-->
    </ul>

    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" th:href="@{~/}" class="brand-logo">三亚市政务服务统一授权中心</a>

                <ul id="nav-mobile"  class="right">
                    <!--<li><a href="" th:href="@{/logout}" sec:authorize="isAuthenticated()"><span class="badge">14</span>消息</a></li>-->
                    <li><a href="" th:href="@{/login}" sec:authorize="!isAuthenticated()">登录</a></li>
                    <!--<li><a href="" sec:authorize="isAuthenticated()">消息 <span class="new badge" data-badge-caption="">4</span></a></li>-->
                    <li><a href="" th:href="@{/management}" class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="dropdown2" sec:authorize="hasAnyRole('ROLE_ADMIN')">后台管理</a></li>
                    <li><a class="dropdown-button" href="#!" sec:authorize="isAuthenticated()" data-constrainwidth="false" data-activates="dropdown1" th:inline="text">[[${#authentication.name}]] <i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>



<main>
    <!--内容显示区-->
    <div  layout:fragment="content" class="container">

    </div>
</main>



<footer class="page-footer">
    <div class="container">
        <div class="row">
            <!--<div class="col l4 s12">-->
                <!--<h6 class="white-text">Footer Content</h6>-->
            <!--</div>-->

            <div class="col l4 s12">
                <h6 class="white-text">联系方式</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">地址：*****</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">客服电话：**</a></li>
                </ul>
            </div>
            <div class="col l4 s12 offset-l4">

                <h6 class="white-text">扫码关注</h6>
                <img class="right-align" src="" height="120" with="120" th:src="@{/img/liantu.png}">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>



<!--jquery js-->

<!--materialize js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{~/js/materialize.min.js}" src="../static/js/materialize.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<!--每个页面自定义的js处-->
<th:block layout:fragment="script"></th:block>
</body>
</html>
