<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
    <style>
        .card {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        h3 {
            margin: 50px;
        }
    </style>
</head>

<div layout:fragment="content" >
    <div pssword="app">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card card-panel">

                    <blockquote>注册</blockquote>
                    <form th:action="@{/processRegister}" th:object="${registerVM}" method="post">

                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="text" th:field="*{login}"  id="login"/>
                                <label for="login">用户名</label>
                                <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                            </div>
                            <div class="col s12" th:if="${#fields.hasErrors('login')}">
                                <p  th:errors="*{login}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="password" th:field="*{password}"  id="password"/>
                                <label for="password">密码</label>
                            </div>
                            <div class="col s12 " th:if="${#fields.hasErrors('password')}" >
                                <p th:errors="*{password}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="email" th:field="*{email}"  id="email"/>
                                <label for="email">电子邮箱</label>
                            </div>
                            <div class="col s12" th:if="${#fields.hasErrors('email')}">
                                <p  th:errors="*{email}"></p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="s5 col">
                                <p th:text="${result}"></p>
                                <a th:href="@{/login}">已经有账号？点击登录</a>
                            </div>

                            <div class="s4 col offset-s3">
                                <button class="btn btn-block">注册</button>
                            </div>
                        </div>

                        <!--<div class="row">-->
                            <!--<div class="col s12 input-field">-->
                                <!--<p th:text="${result}"></p>-->
                                <!--<input class="btn" type="submit" value="提交" /> <input class="btn" type="reset" value="重置" />-->
                            <!--</div>-->
                        <!--</div>-->









                        <!--<p>Message: <input type="text" th:field="*{password}" /></p>-->

                        <!--<p>email: <input type="email" th:field="*{email}" /></p>-->






                        <!--<p><input type="submit" value="提交" /> <input type="reset" value="重置" /></p>-->

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!--该页面自定义js-->
<th:block layout:fragment="script">
    <script th:src="@{~/js/vue.js}"></script>
    <script th:src="@{~/js/axios.min.js}"></script>
    <script th:inline="javascript">
        new Vue({
            el: '#app',
            data: function () {
                return {
                    msg: 'msg',
                    registerData: {
                        password: '',
                        login: '',
                        email: ''
                    },

                }
            },
            methods: {
                register: function () {
//                发起注册请求
                    axios.post('http://localhost:9090/api/register', this.registerData)
                        .then(function (response) {
                            if (response.status == 201) {
                                Materialize.toast('注册成功,已经向您的服务器发送激活链接，点击激活链接即可激活邮箱',4000)

                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                            Materialize.toast('注册失败',4000)
                        });

                }
            }
        })

    </script>
</th:block>
</html>



