<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
</head>
<body>

<div layout:fragment="content">
    <div class="card-panel">
        <blockquote>重置密码</blockquote>
        <div class="row">
            <form th:action="@{/forgetPassword/processResetPassword}" method="post" th:object="${keyAndPasswordVM}">
                <input type="text" hidden id="agentIdentity" placeholder="请输入新密码" th:field="*{key}">

                <div class="col s6 offset-s3 input-field ">
                    <input type="text" id="agentIdentity" placeholder="请输入新密码" th:field="*{newPassword}">
                    <label for="agentIdentity">请输入新密码</label>
                </div>
                <div class="col s6 offset-s3">
                    <p th:text="${result}"></p>
                </div>


                <div class="col s6 offset-s3 input-field ">
                    <button type="submit" class="btn right-align">重置密码</button>
                </div>
            </form>


        </div>
    </div>
</div>

</body>
</html>
