<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="management">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="../static/css/materialize.css" th:href="@{~/css/materialize.min.css}">
</head>
<body>

<div id="breadcrumbs" class="col s12" layout:fragment="managBreadcrumbs">
    当前位置：
    <a href="#" th:href="@{~/}">主页</a> >
    <a href="#" th:href="@{/management}">后台管理</a> >
    <a href="#" th:href="@{/management/userManagement}">用户管理</a>

</div>

<div layout:fragment="managContent">
用户管理
</div>

</body>
</html>
